body {
    font-family: 'Arial';
    background-color: cyan;
}
a {
    text-decoration: none;
}
div.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}
button {
    background: #6464b3;
    color: #2effff;
    transform: scale(1.4);
    border-radius: 4px;
    border: none;
    margin: 0 20px 0 20px;
    }
button#new-question {
    margin: 0 0 20px 0;
    transform: scale(1.8);
}
input[type="text"] {
    margin: 15px;
    height: 2rem;
    width: 12rem;
}
div.answer-row {
    margin: 20px 0 20px 0;
}
input.choice-input {
    float: left;
    transform: scale(1.4);
}
form.answer-form {
    margin-block-end: 0;
}
p.question-title {
    margin: 2rem 0 1rem 0;
    background-color: cyan;
    padding: 1rem;
    border-radius: 10px;
}
p.developed {
    text-align: center;
}
h1.polls-title {
    text-align: center;
}
@media (max-width: 1200px) {
    div.root {
        background-color: #6464b3;
        padding: 0 0 0 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    h1.polls-title {
        text-align: center;
    }
    div.question-box {
        background-color: cyan;
        border-radius: 12px;
        margin: 2rem 0 1rem 0;
        padding: 2em;
        text-align: center;
        transition: 0.3s;
        width: 55%;
    }
    div.question-box:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
    div.details-box {
        background-color: cyan;
        border-radius: 12px;
        margin: 1rem 0 3rem 0;
        padding: 1em;
        text-align: center;
        transition: 0.3s;
        width: 65%;
    }
}
@media (min-width: 1200px) {
    div.root {
        background-color: #6464b3;
        padding: 2em 12rem 0 12rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.question-box {
        background-color: cyan;
        border-radius: 12px;
        margin: 2rem 4rem 2rem 4rem;
        padding: 2rem;
        text-align: center;
        transition: 0.3s;
        width: 13%;
    }
    div.question-box:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
    div.details-box {
        background-color: cyan;
        border-radius: 12px;
        margin: 1rem 0 3rem 0;
        padding: 1em;
        text-align: center;
        transition: 0.3s;
        width: 17%;
    }
}